<?php

/*
 +-----------------------------------------------------------------------+
 | Local configuration for the Roundcube Webmail installation.           |
 |                                                                       |
 | This is a sample configuration file only containing the minimum       |
 | setup required for a functional installation. Copy more options       |
 | from defaults.inc.php to this file to override the defaults.          |
 |                                                                       |
 | This file is part of the Roundcube Webmail client                     |
 | Copyright (C) The Roundcube Dev Team                                  |
 |                                                                       |
 | Licensed under the GNU General Public License version 3 or            |
 | any later version with exceptions for skins & plugins.                |
 | See the README file for a full license statement.                     |
 +-----------------------------------------------------------------------+
*/

$config = array();

// ----------------------------------
// SQL DATABASE
// ----------------------------------

// Database connection string (DSN) for read+write operations
// Format (compatible with PEAR MDB2): db_provider://user:password@host/database
// Currently supported db_providers: mysql, pgsql, sqlite, mssql, sqlsrv, oracle
// For examples see http://pear.php.net/manual/en/package.database.mdb2.intro-dsn.php
// Note: for SQLite use absolute path (Linux): 'sqlite:////full/path/to/sqlite.db?mode=0646'
//       or (Windows): 'sqlite:///C:/full/path/to/sqlite.db'
// Note: Various drivers support various additional arguments for connection,
//       for Mysql: key, cipher, cert, capath, ca, verify_server_cert,
//       for Postgres: application_name, sslmode, sslcert, sslkey, sslrootcert, sslcrl, sslcompression, service.
//       e.g. 'mysql://roundcube:@localhost/roundcubemail?verify_server_cert=false'
$config['db_dsnw'] = 'mysql://roundcubedb:racha0Fi@webappsql.embl.fr/roundcubedb';
// use persistent db-connections
// beware this will not "always" work as expected
// see: http://www.php.net/manual/en/features.persistent-connections.php
$config['db_persistent'] = true;
$config['default_charset'] = 'UTF-8';

// ----------------------------------
// LOGGING/DEBUGGING
// ----------------------------------

// system error reporting, sum of: 1 = log; 4 = show
$config['debug_level'] = 4;
// Log SQL queries to <log_dir>/sql.log or to syslog
$config['sql_debug'] = false;

// Log IMAP conversation to <log_dir>/imap.log or to syslog
$config['imap_debug'] = false;

// Log LDAP conversation to <log_dir>/ldap.log or to syslog
$config['ldap_debug'] = false;

// Log SMTP conversation to <log_dir>/smtp.log or to syslog
$config['smtp_debug'] = false;

// Log Memcache conversation to <log_dir>/memcache.log or to syslog
$config['memcache_debug'] = false;

// Log APC conversation to <log_dir>/apc.log or to syslog
$config['apc_debug'] = false;

// Log Redis conversation to <log_dir>/redis.log or to syslog
$config['redis_debug'] = false;

// Log OTP queries
$config['otp_debug'] = false;

// ----------------------------------
// IMAP
// ----------------------------------

// The IMAP host chosen to perform the log-in.
// Leave blank to show a textbox at login, give a list of hosts
// to display a pulldown menu or set one host as string.
// Enter hostname with prefix ssl:// to use Implicit TLS, or use
// prefix tls:// to use STARTTLS.
// Supported replacement variables:
// %n - hostname ($_SERVER['SERVER_NAME'])
// %t - hostname without the first part
// %d - domain (http hostname $_SERVER['HTTP_HOST'] without the first part)
// %s - domain name after the '@' from e-mail address provided at login screen
// For example %n = mail.domain.tld, %t = domain.tld
// WARNING: After hostname change update of mail_host column in users table is
//          required to match old user data records with the new host.
$config['default_host'] = 'tls://imap.embl.fr';

// TCP port used for IMAP connections
$config['default_port'] = 143;

// ----------------------------------
// SMTP
// ----------------------------------

// SMTP server host (for sending mails).
// Enter hostname with prefix ssl:// to use Implicit TLS, or use
// prefix tls:// to use STARTTLS.
// Supported replacement variables:
// %h - user's IMAP hostname
// %n - hostname ($_SERVER['SERVER_NAME'])
// %t - hostname without the first part
// %d - domain (http hostname $_SERVER['HTTP_HOST'] without the first part)
// %z - IMAP domain (IMAP hostname without the first part)
// For example %n = mail.domain.tld, %t = domain.tld
$config['smtp_server'] = 'tls://smtp.embl.fr';

// SMTP port. Use 25 for cleartext, 465 for Implicit TLS, or 587 for STARTTLS (default)
$config['smtp_port'] = 25;

// SMTP username (if required) if you use %u as the username Roundcube
// will use the current username for login
$config['smtp_user'] = '%u';

// SMTP password (if required) if you use %p as the password Roundcube
// will use the current user's password for login
$config['smtp_pass'] = '%p';

// SMTP AUTH type (DIGEST-MD5, CRAM-MD5, LOGIN, PLAIN or empty to use
// best server supported one)
$config['smtp_auth_type'] = 'LOGIN';



// ----------------------------------
// SYSTEM
// ----------------------------------

// THIS OPTION WILL ALLOW THE INSTALLER TO RUN AND CAN EXPOSE SENSITIVE CONFIG DATA.
// ONLY ENABLE IT IF YOU'RE REALLY SURE WHAT YOU'RE DOING!
$config['enable_installer'] = false;
// provide an URL where a user can get support for this Roundcube installation
// PLEASE DO NOT LINK TO THE ROUNDCUBE.NET WEBSITE HERE!
$config['support_url'] = 'https://support.embl.fr/scp/';

// Logo image replacement. Specifies location of the image as:
$config['skin_logo'] = 'embl_logo.png';

// automatically create a new Roundcube user when log-in the first time.
// a new user will be created once the IMAP login succeeds.
// set to false if only registered users can use this service
$config['auto_create_user'] = true;

// Enables possibility to log in using email address from user identities
$config['user_aliases'] = true;

// use this folder to store log files
// must be writeable for the user who runs PHP process (Apache user if mod_php is being used)
// This is used by the 'file' log driver.
$config['log_dir'] = '/var/log/roundcube/';

$config['log_logins'] = true;
$config['log_session'] = true;

// Allow browser-autocompletion on login form.
// 0 - disabled, 1 - username and host only, 2 - username, host, password
$config['login_autocomplete'] = 1;

// Logon username filter. Regular expression for use with preg_match().
// Example: '/^[a-z0-9_@.-]+$/'
$config['login_username_filter'] = null;

$config['session_lifetime'] = '60';
$config['session_name'] = 'PHPSESSID';

// List of trusted proxies
// X_FORWARDED_* and X_REAL_IP headers are only accepted from these IPs
$config['proxy_whitelist'] = array(
    '172.26.11.10',
    '172.26.11.11',
    '172.26.11.12',
    '193.48.220.70',
    '193.48.220.71',
    '193.48.220.72',
);

// this key is used to encrypt the users imap password which is stored
// in the session record (and the client cookie if remember password is enabled).
// please provide a string of exactly 24 chars.
// YOUR KEY MUST BE DIFFERENT THAN THE SAMPLE VALUE FOR SECURITY REASONS
$config['des_key'] = 'C0tFmHOC9l6jshrTXu0KGxIp';

// This domain will be used to form e-mail addresses of new users
// Specify an array with 'host' => 'domain' values to support multiple hosts
// Supported replacement variables:
// %h - user's IMAP hostname
// %n - http hostname ($_SERVER['SERVER_NAME'])
// %d - domain (http hostname without the first part)
// %z - IMAP domain (IMAP hostname without the first part)
// For example %n = mail.domain.tld, %t = domain.tld
$config['mail_domain'] = 'embl.fr';

// Message size limit. Note that SMTP server(s) may use a different value.
// This limit is verified when user attaches files to a composed message.
// Size in bytes (possible unit suffix: K, M, G)
$config['max_message_size'] = '20M';

// Name your service. This is displayed on the login screen and in the window title
$config['product_name'] = 'EMBL Grenoble Webmail';

// Set identities access level:
// 0 - many identities with possibility to edit all params
// 1 - many identities with possibility to edit all params but not email address
// 2 - one identity with possibility to edit all params
// 3 - one identity with possibility to edit all params but not email address
// 4 - one identity with possibility to edit only signature
$config['identities_level'] = 4;


// ----------------------------------
// PLUGINS
// ----------------------------------

// List of active plugins (in plugins/ directory)
$config['plugins'] = array(
    'archive',
    'zipdownload',
    'managesieve',
    'markasjunk',
    'new_user_identity',
    'radius_otp',
);

// ----------------------------------
// USER INTERFACE
// ----------------------------------

// the default locale setting (leave empty for auto-detection)
// RFC1766 formatted language name like en_US, de_DE, de_CH, fr_FR, pt_BR
$config['language'] = 'en_GB';

// Set the spell checking engine. Possible values:
// - 'googie'  - the default (also used for connecting to Nox Spell Server, see 'spellcheck_uri' setting)
// - 'pspell'  - requires the PHP Pspell module and aspell installed
// - 'enchant' - requires the PHP Enchant module
// - 'atd'     - install your own After the Deadline server or check with the people at http://www.afterthedeadline.com before using their API
// Since Google shut down their public spell checking service, the default settings
// connect to http://spell.roundcube.net which is a hosted service provided by Roundcube.
// You can connect to any other googie-compliant service by setting 'spellcheck_uri' according
$config['spellcheck_engine'] = 'pspell';

// Makes that words with all letters capitalized will be ignored (e.g. GOOGLE)
$config['spellcheck_ignore_caps'] = true;




$config['logout_expunge'] = 'true';



// $config['reply_mode'] = '1';

// Specifies for how many seconds the Undo button will be available
// after object delete action. Currently used with supporting address book sources.
// Setting it to 0, disables the feature.
$config['undo_timeout'] = 30;



$config['new_user_identity_addressbook'] = 'EMBL';
$config['new_user_identity_match']       = 'uid';

// ----------------------------------
// ADDRESSBOOK SETTINGS
// ----------------------------------

// This indicates which type of address book to use. Possible choises:
// 'sql' - built-in sql addressbook enabled (default),
// ''    - built-in sql addressbook disabled.
//         Still LDAP or plugin-added addressbooks will be available.
//         BC Note: The value can actually be anything except 'sql', it does not matter.

// In order to enable public ldap search, configure an array like the Verisign
// example further below. if you would like to test, simply uncomment the example.
// Array key must contain only safe characters, ie. a-zA-Z0-9_

$config['ldap_public']['EMBL_People'] = array(
                 'name' => 'Embl People',
                 'hosts' => array('ldap1a.embl.fr','ldap2a.embl.fr'),
                 'port' => 389,
                 'use_tls' => true,
                 'user_specific' => false,
                 'base_dn' => 'ou=people,dc=embl,dc=fr',
                 'bind_dn' => '',
                 'bind_pass' => '',
                 'writable' => false,
                 'ldap_version' => 3,
                 'search_fields' => array('mail', 'sn', 'cn'),
                 'name_field' => 'cn',
                 'email_field' => 'mailRoutingAddress',
                 'surname_field' => 'sn',
                 'firstname_field' => 'givenName',
                 'scope' => 'sub',
                 'fieldmap' => array(
                     'name'         => 'cn',
                     'surname'      => 'sn',
                     'firstname'    => 'givenName',
                     'jobtitle'     => 'title',
                     'email'        => 'mailRoutingAddress',
                     'manager'      => 'manager',
                     'phone:phone'  => 'telephoneNumber',
                     'phone:office' => 'roomNumber',
                     'photo'        => 'jpegPhoto',

 ),
                 'sort'   => 'sn',
                 'filter' => '(&(objectClass=inetOrgPerson)(EMBLHiddenAccountState=FALSE)(EMBLLockedAccountState=FALSE)(|(EMBLInstituteName=1)(EMBLInstituteName=2)))'
 );

$config['ldap_public']['EMBL_Mailinglist'] = array(
                 'name' => 'Embl Mailinglist',
                 'hosts' => array('ldap1a.embl.fr','ldap2a.embl.fr'),
                 'port' => 389,
                 'use_tls' => true,
                 'user_specific' => false,
                 'base_dn' => 'ou=MailingList,dc=embl,dc=fr',
                 'bind_dn' => '',
                 'bind_pass' => '',
                 'writable' => false,
                 'ldap_version' => 3,
                 'search_fields' => array('mail', 'cn'),
                 'name_field' => 'cn',
                 'email_field' => 'mailRoutingAddress',
                 'scope' => 'sub',
                 'fieldmap' => array(
                     'name'     => 'cn',
                     'email'    => 'mailRoutingAddress',
                     'jobtitle' => 'description',

 ),
                 'sort'   => 'cn',
                 'filter' => '(&(objectClass=EMBLMailingList)(EMBLHiddenState=FALSE))'
 );


// An ordered array of the ids of the addressbooks that should be searched
// when populating address autocomplete fields server-side. ex: array('sql','Verisign')
$config['autocomplete_addressbooks'] = array('EMBL_People', 'EMBL_Mailinglist', 'sql');

// ----------------------------------
// USER PREFERENCES
// ----------------------------------

// Skin name: folder from skins/
$config['skin'] = 'elastic';

// show up to X items in contacts list view
$config['addressbook_pagesize'] = 100;

// display remote resources (inline images, styles)
// 0 - Never, always ask
// 1 - Ask if sender is not in address book
// 2 - Always allow
$config['show_images'] = 2;

$config['dont_override'] = array('check_all_folders');
$config['create_default_folders'] = true;


$config['managesieve_host']                    = 'tls://imap.embl.fr';
$config['managesieve_port']                    = '4190';
$config['managesieve_vacation']                = '1';
$config['managesieve_vacation_addresses_init'] = 'true';

// Radius / OTP
$config['radius_otp_server'] = 'actividentity';
